Functional Requirements
-	The system must be accessible for two kinds of users: Grant Donors and Recipients. Each with different interface functionality.
-	For account creation by applicants, specific documents must be submitted by the user to provide a snapshot of their personal or institutional economic assessment which must be visible by potential Grant Donors for risk assessment and credit limit determination. 
-	Recipients must be able to select the type of grant program for which they apply for, and must be shown the list of proper Grant Donors that have open calls for proposals.
-	Grant applications must be handled by the system through forms which the potential grant recipient must fill and submit to the Grant Donor.
-	For grant applications, potential recipients must be able to complete a budget form divided by specific categories which must be provided by the system.
-	Grant Donor must be able to provide feedback for incomplete or failed applications to the potential recipient.
-	Grant Donors must be able to review activities and budgets proposed by the potential recipients to approve or deny a grant.
-	The system must provide the means for the Grant Donors to give feedback for failed proposals to help applicants to succeed in future attempts.
-	The system must create a schedule of milestones for approved grants based on grant amount, duration of the recipient’s project and project risk based on the previous applicant assessment.
-	The system must include calendar functionality to keep track and provide reminders for grant milestone dates to both donors and recipients.
-	The system must allow for submission of recipient created reports for designated milestones.
-	The system must generate a template for milestone reports by including un-editable information on initially approved budget for each expense category.
-	The system must allow the recipients to report on their actual expenses for each milestone and their budget projection for the next and remaining milestone periods.
-	The system must detect the variance between approved budgets and actual expenses and for discrepancies that are too large (allowance provided as a setting by the donor), it must provide the recipient with a field in the form designed for them to explain such discrepancies.
-	The system must be able to keep a history of expense transactions (if the setting is selected by the recipient) to help create the milestone report with a preliminary actual expense amount. Transactions must be manually entered by the user.
-	Grant Donors must be able to give feedback and adjust predetermined budgets for the next milestone periods according to the report provided by the recipient.
Non-Functional Requirements
-	System accounts created by either Donors or Recipients must be private, and should only be accessible by their respective owners.
-	Initial budgets on the milestone report templates must not be editable by grant recipients as they contain the budget initially agreed upon by them and the donors and altering them would incur in financial inaccuracy and dishonesty.
-	Report and grant application documents must be only be viewable by the involved parties due to the sensible nature of the information and must be encrypted.
