<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.a3004.tldr.tldr">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tldr2"
        android:roundIcon="@drawable/tldr2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityExplore">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
        <activity android:name=".ActivityUser">
            <action android:name="android.intent.action.MAIN"/>

        </activity>
        <activity android:name=".MainActivity">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
        <activity android:name=".User_LogIn_Fragment">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
        <activity android:name=".User_AfterLogIn_Fragment">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
        <activity android:name=".SubmitSummary">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
        <activity android:name=".ViewSummaries">
            <action android:name="android.intent.action.MAIN"/>
        </activity>
    </application>
</manifest>